geopandas==0.10
pyqt
rasterio==1.2
shapely==1.8
vtk==9.1
xarray
pyvista
pyvistaqt
vedo
loopstructural
cmocean
colorcet
mplstereonet
laspy
ezdxf  
lxml
openpyxl  
pythreejs
pyinstaller
scipy
matplotlib
